Django>=4.2.18
djangorestçerçevesi>=3.15.2
pydub==0.25.1
pyannote.audio==3.1.0
textblob==0.17.1
vosk==0.3.45
librosa==0.10.1
soundfile==0.12.1
torch==2.1.0+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio==2.1.0+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
cudf-cu11==23.8.0
scikit-learn>=1.5.0
numpy==1.26.2
huggingface_hub==0.19.4
numba==0.58.1
resampy==0.4.2
pyannote.core==5.0.0
pyannote.database==5.0.0